<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bulma.css' %}" rel="stylesheet">

    <title >Match {{match}}</title>

    <style>

        .bg {
  /* The image used */
  background-image: url({% static 'IPLLogos\red.jpg' %});

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    </style>

       <script language="JavaScript" src="{% static 'jquery.js' %}"></script>

<script>
function matchDetails(id)
{
    window.location.href=`${id}/`
}
</script>
</head>
<body class="bg">
<br>
<a href="/logout/" class="" style="margin-left:90vw;font-size:25px;color:pink;">Logout</a>
<h1 align="center" style="font-size:50px"><b style="color:whitesmoke">Match {{match}}</b></h1><br>
<div class="container" >
    <br>
    {% for m in matches %}
    <div style="background-color:lightSalmon;align:center;" >
        <center>
        <p style="align:center;">{{ m.venue }}</p>
        <p><b style="color:Black;font-size:20px;"> {{ m.team1 }}</b> Vs <b style="color:cornsilk;font-size:20px;">{{ m.team2 }}</b></p>
        <p> {{ m.toss_winner }} Won the TOSS and Opt to {{ m.toss_result }} </p>
        <p> {{ m.winner }} Won the MATCH</p>
        <p> <b style="color:Maroon;font-size:20px;">{{ m.player_of_match }}</b> is PLAYER of the Match </p>
        </center>
    </div>
    <br>
    {% endfor %}


    <div>
        <table>
            <tbody>
            <tr>
                <td>
                    <div style="background-color:palegreen;width:575px;" >
                        <center>
                        <b style="color:DarkRed;font-size:20px;">{{ team1.batting_team }}</b>
                        <br><br>
                        {% for t in top_batsmen_1 %}
                    <!--<center>-->
                    <p ><b style="color:black;">{{ t.batsman }}</b> Scored {{ t.total }}</p>
                    <!--</center>-->
                        {% endfor %}
                            </center>
                    </div>
                </td>
                <td>
                    <div style="background-color:PapayaWhip;width:575px;" >
                        <center>
                    <b style="color:DarkRed;font-size:20px">{{ team2.batting_team }}</b><br><br>
                        {% for t in top_batsmen_2 %}
                <!--<center>-->
                    <p ><b style="color:crimson;">{{ t.batsman }}</b> Scored {{ t.total }}</p>
                <!--</center>-->
                    {% endfor %}
                        </center>
                    </div>
                </td>
            </tr><br>
            <tr>
                <td>
                    <div style="background-color:PapayaWhip;width:575px;" >
                        <center>
                        <b style="color:DarkRed;font-size:20px">{{ team1.batting_team }}</b><br><br>
                        {% for t in top_bowler_2 %}
                    <!--<center>-->
                    <p ><b style="color:black;">{{ t.bowler }}</b>  {{ t.total }} Wickets</p>
                    <!--</center>-->
                        {% endfor %}
                           </center>
                    </div>
                </td>
                <td>
                    <div style="background-color:Palegreen;width:575px;" >
                        <center>
                    <b style="color:DarkRed;font-size:20px">{{ team2.batting_team }}</b><br><br>
                        {% for t in top_bowler_1 %}
                <!--<center>-->
                    <p ><b style="color:crimson;">{{ t.bowler }}</b>  {{ t.total }} wickets</p>
                <!--</center>-->
                    {% endfor %}
                        </center>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>


    <div>
        <table>
            <tbody>
            <tr>
                <td><a href="/seasons/{{ year }}/{{ id }}/" class="button is-black" style="">Innings-1</a></td>
                <td><a href="/seasons/{{ year }}/{{ id }}/2/" class="button is-black" style="">Innings-2</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    {% for d in deliveries %}
    <div style="background-color:steelBlue;align:center;">
        <b style="color:Orange;font-size:20px;"> {{ d.batting_team }}</b>
        <!--{% if d.batting_team == "Mumbai Indians" %}-->
            <!--<img src="{% static 'IPLLogos\mi.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% elif d.batting_team == "Chennai Super Kings" %}-->
            <!--<img src="{% static 'IPLLogos\csk.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% elif d.batting_team == "Kolkata Knight Riders" %}-->
            <!--<img src="{% static 'IPLLogos\kkr.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% elif d.batting_team == "Sunrisers Hyderabad" %}-->
            <!--<img src="{% static 'IPLLogos\srh.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% elif d.batting_team == "Royal Challengers Bangalore" %}-->
            <!--<img src="{% static 'IPLLogos\rcb.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% elif d.batting_team == "Delhi Daredevils" %}-->
            <!--<img src="{% static 'IPLLogos\dd.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% elif d.batting_team == "Rajasthan Royals" %}-->
            <!--<img src="{% static 'IPLLogos\rr.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% elif d.batting_team == "Kings XI Punjab" %}-->
            <!--<img src="{% static 'IPLLogos\kxip.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% elif d.batting_team == "Gujarat Lions" %}-->
            <!--<img src="{% static 'IPLLogos\gl.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% elif d.batting_team == "Rising Pune Supergiant" %}-->
            <!--<img src="{% static 'IPLLogos\rps.png' %}" height="20" width="20" style="padding:30px;">-->
        <!--{% endif %}-->

        <center>
        <p >Over {{ d.over }}.{{ d.ball }}</p>

        <p><b style="color:white;font-size:20px;"> {{ d.bowler }}</b> to <b style="color:cornsilk;font-size:20px;">{{ d.batsman }}</b></p>

        {% if  d.wide_runs != 0 %}
        <p> {{ d.wide_runs }} Wide runs </p>
        {% endif %}

        {% if  d.player_dismissed != null  %}
        <p> {{ d.player_dismissed }} is <b style="color:red;">OUT</b> </p>
        {% endif %}

        <p> <b style="color:Maroon;font-size:20px;">Runs Scored : {{ d.total_runs }}</b> </p>
        </center>
        <b style="color:cornsilk;font-size:20px;align:right;">{{ d.bowling_team }}</b>
    </div>
    <br>
    {% endfor %}
</div>
</body>
</html>